In [2]:
# Question 1

In [1]:
 import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Question 2

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

import pandas as pd

series_list = pd.Series(my_list)
print(series_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# Question 3

In [6]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'], 
        'Age': [25, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# Question 4

In [8]:
 DataFrame is a two-dimensional data structure in pandas. It is similar to a spreadsheet with rows and columns. It is different from pandas.Series in that it can contain multiple data types, such as strings, integers, floats, and booleans.

For example, let's say we have a DataFrame called 'df' with three columns: 'Name', 'Age', and 'Gender'. The Name column contains strings, the Age column contains integers, and the Gender column contains strings. This DataFrame would look something like this: 

Name | Age | Gender 
John | 25 | Male 
Jane | 30 | Female 
Jack | 28 | Male 

In contrast, a pandas.Series would only contain one type of data (e.g., strings or integers). For example, if we had a Series called 'ages' containing only the ages of the people in our DataFrame above, it would look like this: 

Ages 
25 
30 
28

In [9]:
# Question 5

In [ ]:
Some common functions used for data manipulation are:
    
1. df.head() - This function returns the first n rows of a DataFrame, where n is an integer value. This can be used to quickly view the first few rows of a DataFrame to get an idea of what the data looks like.

2. df.tail() - This function returns the last n rows of a DataFrame, where n is an integer value. This can be used to quickly view the last few rows of a DataFrame to get an idea of what the data looks like.

3. df.describe() - This function returns descriptive statistics that summarize the central tendency, dispersion and shape of a datasetâ€™s distribution, excluding NaN values. This can be used to quickly get an overview of a dataset and identify any outliers or trends in the data.

4. df.sort_values() - This function sorts a DataFrame by one or more columns in ascending or descending order and returns a new DataFrame with the sorted values. This can be used to sort data by specific columns in order to analyze it more easily or prepare it for further processing or visualization.

In [13]:
data = {'Name': ['Alice', 'Bob', 'Claire'], 
        'Age': [25, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Question 6

In [ ]:
DataFrame and Panel are mutable in nature.

In [14]:
# Question 7

In [15]:
# A DataFrame can be created using multiple Series. A Series is a one-dimensional array-like object containing an array of data and an associated array of labels, called its index.

# For example, let's say we have two Series: one containing the names of four people (John, Jane, Joe, and Jill) and another containing their respective ages (25, 30, 28, and 32). We can create a DataFrame from these two Series as follows:

import pandas as pd 
 
names = pd.Series(['John', 'Jane', 'Joe', 'Jill']) 
ages = pd.Series([25, 30, 28, 32]) 
people_df = pd.DataFrame({'Name': names,'Age': ages}) 
print(people_df)

   Name  Age
0  John   25
1  Jane   30
2   Joe   28
3  Jill   32